<?xml version="1.0" encoding="utf-8"?>
<connectionStrings>
  <add name="DBConnStr" connectionString="data source=10.162.197.6,3000;initial catalog=CRM;persist security info=False;user id=rd2;pwd=password;Connect Timeout=8;packet size=4096" />
  <add name="DBConnStrWH" connectionString="data source=10.204.48.64\MSSQL2008,3000;initial catalog=CRM;persist security info=False;user id=rd2;pwd=password;Connect Timeout=8;packet size=4096" />
  <add name="DBConnStrCD" connectionString="data source=10.249.44.253\MSSQL2008,3000;initial catalog=CRM;persist security info=False;user id=rd2;pwd=password;Connect Timeout=8;packet size=4096" />
  <add name="DBConnStrCQ" connectionString="data source=10.245.214.245\MSSQL2008,3000;initial catalog=CRM;persist security info=False;user id=rd2;pwd=password;Connect Timeout=8;packet size=4096" />
  <add name="DBConnStrYT" connectionString="data source=10.200.202.1\MSSQL2008,3000;initial catalog=CRM;persist security info=False;user id=rd2;pwd=password;Connect Timeout=8;packet size=4096" />
  <add name="DBConnStrWSJ" connectionString="data source=10.107.47.215\MSSQL2008,3000;initial catalog=CRM;persist security info=False;user id=rd2;pwd=password;Connect Timeout=8;packet size=4096" />
  <add name="DBConnStrZZ" connectionString="data source=10.195.225.41,3000;initial catalog=CRM;persist security info=False;user id=rd2;pwd=password;Connect Timeout=8;packet size=4096" />
  <add name="DBConnStrLH" connectionString="data source=10.162.197.6,3000;initial catalog=CRM;persist security info=False;user id=rd2;pwd=password;Connect Timeout=8;packet size=4096" />
  <add name="DBConnStrNN" connectionString="data source=10.162.197.6,3000;initial catalog=CRMNN;persist security info=False;user id=rd2;pwd=password;Connect Timeout=8;packet size=4096" />

  <add name="DBConnStrLHflownet" connectionString="data source=10.162.197.6,3000;initial catalog=flownet;persist security info=False;user id=rd2;pwd=password;Connect Timeout=8;packet size=4096" />
  <add name="DBConnStrWHflownet" connectionString="data source=10.204.48.64\MSSQL2008,3000;initial catalog=flownet;persist security info=False;user id=rd2;pwd=password;Connect Timeout=8;packet size=4096" />
  <add name="DBConnStrCDflownet" connectionString="data source=10.249.44.253\MSSQL2008,3000;initial catalog=cdflownet;persist security info=False;user id=rd2;pwd=password;Connect Timeout=8;packet size=4096" />
  <add name="DBConnStrCQflownet" connectionString="data source=10.245.214.245\MSSQL2008,3000;initial catalog=flownet;persist security info=False;user id=rd2;pwd=password;Connect Timeout=8;packet size=4096" />
  <add name="DBConnStrYTflownet" connectionString="data source=10.200.202.1\MSSQL2008,3000;initial catalog=flownet;persist security info=False;user id=rd2;pwd=password;Connect Timeout=8;packet size=4096" />
  <add name="DBConnStrWSJflownet" connectionString="data source=10.107.47.215\MSSQL2008,3000;initial catalog=flownet;persist security info=False;user id=rd2;pwd=password;Connect Timeout=8;packet size=4096" />
  <add name="DBConnStrZZflownet" connectionString="data source=10.195.225.41,3000;initial catalog=zzflownet;persist security info=False;user id=rd2;pwd=password;Connect Timeout=8;packet size=4096" />

</connectionStrings>

