<?xml version="1.0" encoding="utf-8"?>
<appSettings>
  <!--採購設備跟催使用的流程名稱-->
  <add key ="TemplateName" value="專案申請流程"/>
  <!--採購設備跟催使用的流程版本-->
  <add key ="TemplateVersion" value="1"/>
  <!--是否顯示前次成交信息供維護-->
  <!--收件資料庫Notes地址-->
  <add key ="EmailLogNotes" value="CMC.LogMonitor/CEN/FOXCONN"/>
  <!--允許上傳的附件大小-->
  <add key="UploadMaxSize" value="20"/>
  <!--Decimal 數據格式為整數-->
  <add key="DeciamlFormat" value="0.00"/>
  <!--自定分頁默認記錄數-->
  <add key="CustomPageSize"  value="20" />
  <add key ="FilePath" value="\\10.204.48.61\WebAllLabReport"></add>
  <add key="CQ" value ="SZ"/>
  <add key="IsWithTAM" value ="0"/>
</appSettings>
