<?xml version="1.0"?>
<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.webServer>
    <httpProtocol>
      <customHeaders>
        <add name="X-UA-Compatible" value="chrome=1"/>
      </customHeaders>
    </httpProtocol>
  </system.webServer>
  <connectionStrings>
    <clear/>
  </connectionStrings>
  <appSettings>
    <!-- 连接字符串是否加密 -->
    <add key="ConStringEncrypt" value="false"/>
    <!-- 数据库连接字符串,（如果采用加密方式，上面一项要设置为true；加密工具，可在官方下载，
         如果使用明文这样server=127.0.0.1;database=.....,上面则设置为false。 -->
    <add key="ConnString" value="Data Source=192.0.0.21;Initial Catalog=PDOA;User ID=sa;Password=Hello123"/>
    <!--虚拟目录名称(如果是站点，则为空) -->
    <add key="VirtualPath" value=""/>
    <!--登录页地址 -->
    <add key="LoginPage" value="Login.aspx"/>
    <!--默认菜单是否是展开状态-->
    <add key="MenuExpanded" value="false"/>
    <!--实体对象内容缓村的时间（分钟）-->
    <add key="ModelCache" value="30"/>
    <add key ="VideoSrc" value="c:/test/Custom"/>
  </appSettings>
  <system.web>
    <!--
          ******通过 <authentication> 节可以配置 ASP.NET 使用的 安全身份验证模式，以标识传入的用户。
          ******Windows: 使用IIS验证方式。
          ******Forms: 使用基于窗体的验证方式。
          ******Passport: 采用Passport cookie验证模式。
          ******None: 不采用任何验证方式。
    -->
    <authentication mode="Forms">
      <forms name=".ASPXUSERDEMO" loginUrl="Login.aspx" protection="All" timeout="30"/>
    </authentication>
    <!--
          ******控制对 URL 资源的客户端访问（如允许匿名用户访问）。
          ******此元素可以在任何级别（计算机、站点、应用程序、子目录或页）上声明。
          ******必需与<authentication> 节配合使用。
          ******此处的意思是对匿名用户不进行身份验证。
    -->
    <authorization>
      <allow users="*"/>
    </authorization>
    <!--
          ******会话状态设置。
          ******mode: 分为off,Inproc,StateServer,SqlServer几种状态。
          ******mode = InProc 存储在进程中特点：具有最佳的性能，速度最快,但不能跨多台服务器存储共享。
          ******mode = StateServer 存储在状态服务器中特点：当需要跨服务器维护用户会话信息时，使用此方法。但是信息存储在状态服务器上，一旦状态服务器出现故障，信息将丢失。
          ******mode = SqlServer 存储在sql server中特点：工作负载会变大，但信息不会丢失。
          ******stateConnectionString：指定asp.net应用程序存储远程会话状态的服务器名，默认为本机。
          ******sqlConnectionString：当用会话状态数据库时，在这里设置连接字符串。
          ******Cookieless：设置为flase时，表示使用cookie会话状态来标识客户。
          ******timeout表示会话超时时间。
    -->
    <sessionState mode="InProc" cookieless="false" timeout="60"/>
    <httpRuntime maxRequestLength="100000000" executionTimeout="100000000"/>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="Microsoft.Web.Infrastructure, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
      </assemblies>
    </compilation>
  </system.web>
  <location path="Login.aspx" allowOverride="false"/>
</configuration>