
  update Customers set InsertPsrson =N'系统导入', CustomerID ='',CustomerEnglishName ='',Category =2,Managers ='',
  Grade ='D5',Industry ='',Status =1,Source ='',City ='',ZipCode =0,Phone ='',Fax ='',Email ='',WebAddress ='',Address ='',ZhuceCapital =0,
  EmployeeNum =0,Bank ='',BankAccount ='',Remark ='',AccountName ='',BillingName ='',VATNum ='',Extend3 ='',Extend4 ='',Extend5 ='',Extend6 ='',Extend7 ='',Extend8 ='',Extend9 ='',Extend10 ='' where PKID >7
  