<?xml version="1.0" encoding="utf-8"?>
<configuration>
  
  <configSections>
    <section name="castle"  type="Castle.Windsor.Configuration.AppDomain.CastleSectionHandler, Castle.Windsor" />
  </configSections>
  <appSettings>
    <add key="DaoFile" value="dao.config"/>
  </appSettings>
  <startup>
    <supportedRuntime version="v2.0.50727"/>
  </startup>
  
  <castle>
    <facilities>
    <facility id="DynHttpClient" type="PengeSoft.Client.DynHttpClientFacility, PengeSoft.Enterprise">
    </facility>
    </facilities>

    <components>
      <!--用AutherUseRightCheck做认证，程序退出时COM不会异常-->
      <component id="PsAuther.DefaultRightCheck" type="PengeSoft.Auther.RightCheck.AutherUseRightCheck, PengeSoft.AutherCom" service="PengeSoft.Auther.IRightCheck, PengeSoft.Core" lifestyle="Singleton">
        <parameters>
          <Host>10.0.0.12</Host>
          <LoginID>CRMServer</LoginID>
          <Password>crmCq$(%Vs7dlg$R2</Password>
        </parameters>
      </component>

      <component id="PsAuther.TransientRightCheck"
        type="PengeSoft.Auther.RightCheck.AutherUseRightCheck, PengeSoft.AutherCom"
        service="PengeSoft.Auther.IRightCheck, PengeSoft.Core"
        lifestyle="Transient">
        <parameters>
          <Host>192.0.0.246</Host>
          <LoginID>admin</LoginID>
          <Password>s4d2$6as23gas</Password>
        </parameters>
      </component>
      <component id="WorkFlowEngineOA" type="PengeSoft.WorkFlow.WorkFlowEngineOA, PengeSoft.EntEx" service="PengeSoft.WorkFlow.IWorkFlowEngineOA, PengeSoft.EntEx" lifestyle="Singleton">
        <parameters>
        </parameters>
      </component>
      <component id="UsedContactServerSvr" type="PengeSoft.CMS.BaseDatum.UsedContactServerSvr, PengeSoft.CMS.BaseDatum" service="PengeSoft.CMS.BaseDatum.IUsedContactServerSvr, PengeSoft.CMS.BaseDatum" lifestyle="Singleton">
        <parameters>
        </parameters>
      </component>
      <component id="QuickentrySSvr" type="PengeSoft.CMS.BaseDatum.QuickentrySSvr, PengeSoft.CMS.BaseDatum" service="PengeSoft.CMS.BaseDatum.IQuickentrySSvr, PengeSoft.CMS.BaseDatum" lifestyle="Singleton">
        <parameters>
        </parameters>
      </component>
      <component id="QuickUseRecordSSvr" type="PengeSoft.CMS.BaseDatum.QuickUseRecordSSvr, PengeSoft.CMS.BaseDatum" service="PengeSoft.CMS.BaseDatum.IQuickUseRecordSSvr, PengeSoft.CMS.BaseDatum" lifestyle="Singleton">
        <parameters>
        </parameters>
      </component>
      <component id="UserBaseInfoManageSvr" type="PengeSoft.CMS.BaseDatum.UserBaseInfoManageSvr, PengeSoft.CMS.BaseDatum" service="PengeSoft.CMS.BaseDatum.IUserBaseInfoManageSvr, PengeSoft.CMS.BaseDatum" lifestyle="Singleton">
        <parameters>
        </parameters>
      </component>
    </components>
    
   
  </castle>
</configuration>
