<?xml version="1.0" encoding="utf-8" ?>

<sqlMapConfig
  xmlns="http://ibatis.apache.org/dataMapper"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <settings>
    <setting useStatementNamespaces="false"/>
    <setting cacheModelsEnabled="true"/>
  </settings>

  <providers resource="providers.config"/>
  <database>
    <provider name="sqlServer2.0"/>
    <dataSource name="PengeSoft.CMS.BaseDatum" connectionString="Data Source=192.0.0.246\MSSQL2008;pwd=password;uid=swjuser;Initial Catalog=swjoa;Connect Timeout=60"/>
  </database>

  <sqlMaps>
    <!--通用(必须包括)-->
    <sqlMap embedded="PengeSoft.Enterprise.Maps.CommBase.xml, PengeSoft.Enterprise" />
    <!--工作流-->
    <sqlMap embedded="PengeSoft.Enterprise.Maps.Sequences.xml, PengeSoft.Enterprise" />
    <sqlMap embedded="PengeSoft.Enterprise.Maps.UserObjRight.xml, PengeSoft.Enterprise" />
    <sqlMap embedded="PengeSoft.Enterprise.Maps.NamedValue.xml, PengeSoft.Enterprise" />
    <sqlMap embedded="PengeSoft.Enterprise.Maps.MsgSubscribe.xml, PengeSoft.Enterprise" />
    <sqlMap embedded="PengeSoft.Enterprise.Maps.TaskInstance.xml, PengeSoft.Enterprise" />
    <sqlMap embedded="PengeSoft.Enterprise.Maps.WorkTemplate.xml, PengeSoft.Enterprise" />
    <sqlMap embedded="PengeSoft.Enterprise.Maps.WorkInstance.xml, PengeSoft.Enterprise" />
    <sqlMap embedded="PengeSoft.Enterprise.Maps.TaskListItem.xml, PengeSoft.Enterprise" />
    <sqlMap embedded="PengeSoft.CMS.BaseDatum.Common.File.AutoFiles.Templet.xml, PengeSoft.CMS.BaseDatum"/>
    <sqlMap embedded="PengeSoft.CMS.BaseDatum.Common.File.AutoFiles.PersonalTemplet.xml, PengeSoft.CMS.BaseDatum"/>
    <sqlMap embedded="PengeSoft.CMS.BaseDatum.Common.File.TempletEx.xml, PengeSoft.CMS.BaseDatum"/>

    <sqlMap embedded="PengeSoft.CMS.BaseDatum.DoAttitude.File.AutoFiles.DoAttitide.xml, PengeSoft.CMS.BaseDatum"/>
    <sqlMap embedded="PengeSoft.CMS.BaseDatum.BaseForm.File.AutoFiles.BaseFormData.xml, PengeSoft.CMS.BaseDatum"/>
    <sqlMap embedded="PengeSoft.CMS.BaseDatum.BaseForm.File.AutoFiles.BaseFormDataex.xml, PengeSoft.CMS.BaseDatum"/>
    <sqlMap embedded="PengeSoft.CMS.BaseDatum.ContactUsed.File.AutoFiles.Contactused.xml, PengeSoft.CMS.BaseDatum"/>


    <!-- 自动代码 **********************************************************************-->
   
    <sqlMap embedded="PengeSoft.CMS.BaseDatum.Commpage.File.AutoFiles.LayoutInfo.xml, PengeSoft.CMS.BaseDatum"/>
    <sqlMap embedded="PengeSoft.CMS.BaseDatum.Commpage.File.AutoFiles.ModelInfo.xml, PengeSoft.CMS.BaseDatum"/>
    <sqlMap embedded="PengeSoft.CMS.BaseDatum.Commpage.File.AutoFiles.SkinInfo.xml, PengeSoft.CMS.BaseDatum"/>
    <sqlMap embedded="PengeSoft.CMS.BaseDatum.Quickentry.File.AutoFiles.Quickentry.xml, PengeSoft.CMS.BaseDatum"/>
    <sqlMap embedded="PengeSoft.CMS.BaseDatum.Quickentry.File.AutoFiles.QuickUseRecord.xml, PengeSoft.CMS.BaseDatum"/>

    <sqlMap embedded="PengeSoft.EntEx.Maps.RunTask.xml, PengeSoft.EntEx" />
  </sqlMaps>
</sqlMapConfig>
