.navbar-inverse-blue {
    background-color: #1b3977;
  border-color: #080808;
}

.jumbotron {
    background-color: indianred;
    color:#191
}

.marketing {
    background-color:yellow;
    font-family: Î¢ÈíÑÅºÚ;
    line-height: 25px;
}

.marketing p {
    background-color: #99f;
    font-family: Î¢ÈíÑÅºÚ;
    line-height: 25px;
    color:#624
}