<?xml version="1.0" encoding="utf-8"?>
<appSettings>
 
  <!--允許上傳的附件大小-->
  <add key="UploadMaxSize" value="20"/>
  <!--自定分頁默認記錄數-->
  <add key="CustomPageSize"  value="20" />
  <!--Decimal 數據格式為整數-->
  <add key="DeciamlFormat" value="0.00"/>
  <add key ="FilePath" value="\\10.162.197.3\All Lab Data\QCFileManage"/>
   <add key ="FtpIP" value="10.162.197.3"/>
   
</appSettings>
