<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <components>

    <!--权限检查，使用 AutherUseRightCheck -->
    <component id="PsAuther.DefaultRightCheck" type="PengeSoft.Auther.RightCheck.AutherUseRightCheck, PengeSoft.AutherCom" service="PengeSoft.Auther.IRightCheck, PengeSoft.Core" lifestyle="Singleton">
      <parameters>
        <Host>10.0.0.12</Host>
        <LoginID>CRMServer</LoginID>
        <Password>crmCq$(%Vs7dlg$R2</Password>
      </parameters>
    </component>
    <!--页面状态管理器-->
    <component id="PengeSoft.WebStateMan" type="PengeSoft.Web.WebStateManagerSession, PengeSoft.Enterprise" service="PengeSoft.Web.IWebStateManager, PengeSoft.Enterprise" lifestyle="Singleton"/>
    <component id="HttpServiceManager" type="PengeSoft.Service.HttpServiceManager, PengeSoft.Enterprise" service="PengeSoft.Service.IHttpServiceManager, PengeSoft.Enterprise" lifestyle="Singleton">
      <parameters>
        <encoding>utf-8</encoding>
      </parameters>
    </component>
    <component id="PsCustom.TaskQuerySvr" type="PengeSoft.WorkFlow.WorkTaskQuerySvr, PengeSoft.Enterprise" service="PengeSoft.WorkFlow.IWorkTaskQuerySvr, PengeSoft.Enterprise" lifestyle="Singleton">
      <parameters />
    </component>
    <!--用户认证服务-->
    <component id="UserAutherService" type="PengeSoft.Service.Auther.UserAutherImp, PengeSoft.EntEx" service="PengeSoft.Service.Auther.IUserAuther, PengeSoft.EntEx" lifestyle="Singleton">
      <parameters>
      </parameters>
    </component>
    <!--部门管理-->
    <component id="DeptManSvr" type="PengeSoft.Service.Right.DeptmentManSvr, PengeSoft.Service" service="PengeSoft.Service.IDeptManSvr, PengeSoft.Enterprise" lifestyle="Singleton">
      <parameters>
      </parameters>
    </component>
    <component id="WorkFlowEngineOA" type="PengeSoft.WorkFlow.WorkFlowEngineOA, PengeSoft.EntEx" service="PengeSoft.WorkFlow.IWorkFlowEngineOA, PengeSoft.EntEx" lifestyle="Singleton">
      <parameters>
      </parameters>
    </component>
    <component id="WorkTaskQuerySvr" type="PengeSoft.WorkFlow.RunTaskQuerySvr, PengeSoft.EntEx" service="PengeSoft.WorkFlow.IWorkTaskQuerySvr, PengeSoft.Enterprise" lifestyle="Singleton">
      <parameters>
      </parameters>
    </component>
    <!--本地服务-->
    <component id="BaseFormDataServerSvr" type="PengeSoft.CMS.BaseDatum.BaseFormDataServerSvr, PengeSoft.CMS.BaseDatum" service="PengeSoft.CMS.BaseDatum.IBaseFormDataServerSvr, PengeSoft.CMS.BaseDatum" lifestyle="Singleton">
      <parameters>
      </parameters>
    </component>
    <component id="DoAttitudeServerSvr" type="PengeSoft.CMS.BaseDatum.DoAttitudeServerSvr, PengeSoft.CMS.BaseDatum" service="PengeSoft.CMS.BaseDatum.IDoAttitudeServerSvr, PengeSoft.CMS.BaseDatum" lifestyle="Singleton">
      <parameters>
      </parameters>
    </component>
    <component id="UsedContactServerSvr" type="PengeSoft.CMS.BaseDatum.UsedContactServerSvr, PengeSoft.CMS.BaseDatum" service="PengeSoft.CMS.BaseDatum.IUsedContactServerSvr, PengeSoft.CMS.BaseDatum" lifestyle="Singleton">
      <parameters>
      </parameters>
    </component>
    <component id="AttachmentServiceSvr" type="PengeSoft.CMS.BaseDatum.AttachmentServiceSvr, PengeSoft.CMS.BaseDatum" service="PengeSoft.CMS.BaseDatum.IAttachmentServiceSvr, PengeSoft.CMS.BaseDatum" lifestyle="Singleton">
      <parameters>
      </parameters>
    </component>
    <component id="AttachmentFileServiceSvr" type="PengeSoft.CMS.BaseDatum.AttachmentFileServiceSvr, PengeSoft.CMS.BaseDatum" service="PengeSoft.CMS.BaseDatum.IAttachmentFileServiceSvr, PengeSoft.CMS.BaseDatum" lifestyle="Singleton">
      <parameters>
      </parameters>
    </component>
    <component id="TempletServiceSvr" type="PengeSoft.CMS.BaseDatum.TempletServiceSvr, PengeSoft.CMS.BaseDatum" service="PengeSoft.CMS.BaseDatum.ITempletServiceSvr, PengeSoft.CMS.BaseDatum" lifestyle="Singleton">
      <parameters>
      </parameters>
    </component>
    <!--本地服务-->
   
    <component id="LayoutInfoServerSvr" type="PengeSoft.CMS.BaseDatum.LayoutInfoServerSvr, PengeSoft.CMS.BaseDatum" service="PengeSoft.CMS.BaseDatum.ILayoutInfoServerSvr, PengeSoft.CMS.BaseDatum" lifestyle="Singleton">
      <parameters>
      </parameters>
    </component>
    <component id="ModelInfoServerSvr" type="PengeSoft.CMS.BaseDatum.ModelInfoServerSvr, PengeSoft.CMS.BaseDatum" service="PengeSoft.CMS.BaseDatum.IModelInfoServerSvr, PengeSoft.CMS.BaseDatum" lifestyle="Singleton">
      <parameters>
      </parameters>
    </component>
    <component id="SkinServerSvr" type="PengeSoft.CMS.BaseDatum.SkinServerSvr, PengeSoft.CMS.BaseDatum" service="PengeSoft.CMS.BaseDatum.ISkinServerSvr, PengeSoft.CMS.BaseDatum" lifestyle="Singleton">
      <parameters>
      </parameters>
    </component>
    <component id="QuickentrySSvr" type="PengeSoft.CMS.BaseDatum.QuickentrySSvr, PengeSoft.CMS.BaseDatum" service="PengeSoft.CMS.BaseDatum.IQuickentrySSvr, PengeSoft.CMS.BaseDatum" lifestyle="Singleton">
      <parameters>
      </parameters>
    </component>
    <component id="QuickUseRecordSSvr" type="PengeSoft.CMS.BaseDatum.QuickUseRecordSSvr, PengeSoft.CMS.BaseDatum" service="PengeSoft.CMS.BaseDatum.IQuickUseRecordSSvr, PengeSoft.CMS.BaseDatum" lifestyle="Singleton">
      <parameters>
      </parameters>
    </component>
    <!--公告服务-->
    <component id="NoticeServiceSvr" type="PengeSoft.CMS.BaseDatum.NoticeServiceSvr, PengeSoft.CMS.BaseDatum" service="PengeSoft.CMS.BaseDatum.INoticeServiceSvr, PengeSoft.CMS.BaseDatum" lifestyle="Singleton">
      <parameters>
      </parameters>
    </component>
    <!--系统消息服务-->
    <component id="MessageServiceSvr" type="PengeSoft.CMS.BaseDatum.MessageServiceSvr, PengeSoft.CMS.BaseDatum" service="PengeSoft.CMS.BaseDatum.IMessageServiceSvr, PengeSoft.CMS.BaseDatum" lifestyle="Singleton">
      <parameters>
      </parameters>
    </component>
    <!--系统用户基础信息服务-->
    <component id="UserBaseInfoManageSvr" type="PengeSoft.CMS.BaseDatum.UserBaseInfoManageSvr, PengeSoft.CMS.BaseDatum" service="PengeSoft.CMS.BaseDatum.IUserBaseInfoManageSvr, PengeSoft.CMS.BaseDatum" lifestyle="Singleton">
      <parameters>
      </parameters>
    </component>
    </components>
</configuration>