<?xml version="1.0" encoding="utf-8"?>
<daoConfig
	xmlns="http://ibatis.apache.org/dataAccess"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <providers resource="App_Data\providers.config"/>
  <!--OA系统DAO-->
  <context id="SqlMapDao" default="true">
    <database>
      <provider name="sqlServer2.0"/>
      <dataSource name="PengeSoft.CMS.BaseDatum" connectionString="Data Source=192.0.0.246\MSSQL2008;pwd=sapassword;uid=sa;Initial Catalog=ComponentFrame;Connect Timeout=60"/>
      <!--<provider name="oracleClient1.0"/>
      <dataSource name="PengeSoft.CMS.BaseDatum" connectionString="Data Source=192.0.0.233/orcl;Password=swjoa;User ID=swjoa"/>-->
    </database>

    <daoSessionHandler id="SqlMap">
      <property name="resource" value="App_Data\SqlMap.config"/>
    </daoSessionHandler>
    <daoFactory assembly="PengeSoft.Enterprise.dll">
      <dao
				interface="PengeSoft.Service.Dao.ISequenceDao, PengeSoft.Enterprise"
				implementation="PengeSoft.Service.Dao.SequenceSqlMapDao, PengeSoft.Enterprise" />
      <dao
				interface="PengeSoft.Enterprise.Auther.IUserObjRightDao, PengeSoft.Enterprise"
				implementation="PengeSoft.Enterprise.Auther.UserObjRightDao, PengeSoft.Enterprise" />
      <dao
				interface="PengeSoft.WorkFlow.INamedValueDao, PengeSoft.Enterprise"
				implementation="PengeSoft.WorkFlow.NamedValueDao, PengeSoft.Enterprise" />
      <dao
				interface="PengeSoft.WorkFlow.IMsgSubscribeDao, PengeSoft.Enterprise"
				implementation="PengeSoft.WorkFlow.MsgSubscribeDao, PengeSoft.Enterprise" />
      <dao
				interface="PengeSoft.WorkFlow.ITaskInstanceDao, PengeSoft.Enterprise"
				implementation="PengeSoft.WorkFlow.TaskInstanceDao, PengeSoft.Enterprise" />
      <dao
				interface="PengeSoft.WorkFlow.IWorkFlowDataDao, PengeSoft.Enterprise"
				implementation="PengeSoft.WorkFlow.WorkFlowDataDao, PengeSoft.Enterprise" />
      <dao
				interface="PengeSoft.WorkFlow.IWorkInstanceDao, PengeSoft.Enterprise"
				implementation="PengeSoft.WorkFlow.WorkInstanceDao, PengeSoft.Enterprise" />
      <dao
				interface="PengeSoft.WorkFlow.IWorkTemplateDao, PengeSoft.Enterprise"
				implementation="PengeSoft.WorkFlow.WorkTemplateDao, PengeSoft.Enterprise" />
      <dao
				interface="PengeSoft.WorkFlow.ITaskListItemDao, PengeSoft.Enterprise"
				implementation="PengeSoft.WorkFlow.TaskListItemDao, PengeSoft.Enterprise" />
    </daoFactory>

    <daoFactory assembly="PengeSoft.EntEx.dll">
      <dao
          interface="PengeSoft.WorkFlow.IRunTaskDao, PengeSoft.EntEx"
          implementation="PengeSoft.WorkFlow.RunTaskDao, PengeSoft.EntEx" />
    </daoFactory>

    <daoFactory assembly="PengeSoft.CMS.BaseDatum.dll">
      <dao
          interface="PengeSoft.CMS.BaseDatum.IBaseFormDataDao, PengeSoft.CMS.BaseDatum"
          implementation="PengeSoft.CMS.BaseDatum.BaseFormDataDao, PengeSoft.CMS.BaseDatum" />
      <dao
         interface="PengeSoft.CMS.BaseDatum.IDoAttitudeDao, PengeSoft.CMS.BaseDatum"
         implementation="PengeSoft.CMS.BaseDatum.DoAttitudeDao, PengeSoft.CMS.BaseDatum" />

      <dao
          interface="PengeSoft.CMS.BaseDatum.IUsedContactsDao, PengeSoft.CMS.BaseDatum"
          implementation="PengeSoft.CMS.BaseDatum.UsedContactsDao, PengeSoft.CMS.BaseDatum" />

      <dao interface="PengeSoft.CMS.BaseDatum.IAttachmentDao, PengeSoft.CMS.BaseDatum" 
           implementation="PengeSoft.CMS.BaseDatum.AttachmentDao, PengeSoft.CMS.BaseDatum" />
      <dao interface="PengeSoft.CMS.BaseDatum.IPersonalTempletDao, PengeSoft.CMS.BaseDatum"
           implementation="PengeSoft.CMS.BaseDatum.PersonalTempletDao, PengeSoft.CMS.BaseDatum" />
      <dao interface="PengeSoft.CMS.BaseDatum.IAttachmentFileDao, PengeSoft.CMS.BaseDatum" 
           implementation="PengeSoft.CMS.BaseDatum.AttachmentFileDao, PengeSoft.CMS.BaseDatum" />

      <dao
            interface="PengeSoft.CMS.BaseDatum.ILayoutInfoDao, PengeSoft.CMS.BaseDatum"
            implementation="PengeSoft.CMS.BaseDatum.LayoutInfoDao, PengeSoft.CMS.BaseDatum" />
      <dao
         interface="PengeSoft.CMS.BaseDatum.IModelInfoDao, PengeSoft.CMS.BaseDatum"
         implementation="PengeSoft.CMS.BaseDatum.ModelInfoDao, PengeSoft.CMS.BaseDatum" />
      <dao
          interface="PengeSoft.CMS.BaseDatum.ISkinInfoDao, PengeSoft.CMS.BaseDatum"
          implementation="PengeSoft.CMS.BaseDatum.SkinInfoDao, PengeSoft.CMS.BaseDatum" />
      <dao
                    interface="PengeSoft.CMS.BaseDatum.IQuickentryDao, PengeSoft.CMS.BaseDatum"
                    implementation="PengeSoft.CMS.BaseDatum.QuickentryDao, PengeSoft.CMS.BaseDatum" />
      <dao
                interface="PengeSoft.CMS.BaseDatum.IQuickUseRecordDao, PengeSoft.CMS.BaseDatum"
                implementation="PengeSoft.CMS.BaseDatum.QuickUseRecordDao, PengeSoft.CMS.BaseDatum" />

      <dao
            interface="PengeSoft.CMS.BaseDatum.INoticeDao, PengeSoft.CMS.BaseDatum"
            implementation="PengeSoft.CMS.BaseDatum.NoticeDao, PengeSoft.CMS.BaseDatum" />
      <dao
          interface="PengeSoft.CMS.BaseDatum.IMessageDao, PengeSoft.CMS.BaseDatum"
          implementation="PengeSoft.CMS.BaseDatum.MessageDao, PengeSoft.CMS.BaseDatum" />
    </daoFactory>


  </context>


</daoConfig>

