<?xml version="1.0"?>
<configuration xmlns="http://schemas.microsoft.com/.NetConfiguration/v2.0">
	<!--配置代码高亮插件-->
	
	
	<system.web>
    <pages styleSheetTheme="" theme="" />
    <compilation defaultLanguage="C#"/>
		<!--设置上传单个文件的最大Size-->
		<httpRuntime maxRequestLength="10240" executionTimeout="3600"/>
	</system.web>
	
</configuration>
