<!-- body
{
    margin: 0px 0px 0px 4px;
    bgcolor: #007BC6;
    font-size: 12px;
    padding-right: 0px;
    padding-left: 0px;
    scrollbar-face-color: #59D6FF;
    padding-bottom: 0px;
    scrollbar-highlight-color: #ffffff;
    scrollbar-shadow-color: #ffffff;
    scrollbar-3dlight-color: #007BC6;
    scrollbar-darkshadow-color: #007BC6;
    scrollbar-arrow-color: #007BC6;
    padding-top: 0px;
    scrollbar-track-color: #009ED2;
}
A {
	TEXT-DECORATION: none;color: #bd4c01;font-size:12px

}
A:link {
color: #1E5494;font-size:12px
}
A:visited {
color: #1E5494;font-size:12px
}
A:hover {
color: #1E5494;font-size:12px
}
A:active {
color: #1E5494;font-size:12px
}
.STYLE1 {
	color: #1E5494;
	font-weight: bold;
	FONT-SIZE: 12px;
}
.STYLE2 {
	color: #1E5494;
	font-size: 12px;
}
-->
